/* Global Styling */

h1, h2, h3, h4, h5 {
	padding-left: 40px;
	padding-right: 40px;
}

.region-featured-bottom-first h2, .region-featured-bottom-second h2, .region-featured-bottom-third h2, .region-sidebar-first h2, h4.panel-title {
	padding-left: inherit;
	padding-right: inherit;
}


.page-node-type-page .main-content .section {
  padding: 0 0px;
} 


.paragraph p {
	margin-left: 40px;
	margin-right: 40px;
	font-size: 1.1em;
}

@media (min-width: 768px) {
	.paragraph p {
		font-size: 1.35em;
	}
}

.paragraph li {
	margin-left: 50px;
	margin-right: 50px;
	font-size: 1.1em;
}

@media (min-width: 768px) {
	.paragraph li {
		font-size: 1.35em;
	}
}

.paragraph .slider-caption p {
	margin-left: inherit;
	margin-right: inherit;
}

/* Hero Image */
.hero-image {
	padding-bottom: 50px;
}

.hero-image img {
	width: 100%;
}

/* Logo */

#page .site-logo img {
	max-width: 225px;
}