/* Global Styling */


.page-node-type-page .main-content .section {
  padding: 0 0px;
} 


.paragraph p {
	margin-left: 40px;
	margin-right: 40px;
	font-size: 1.1em;
}

@media (min-width: 768px) {
	.paragraph p {
		font-size: 1.35em;
	}
}

.paragraph .slider-caption p {
	margin-left: inherit;
	margin-right: inherit;
}

/* Hero Image */
.hero-image {
	padding-bottom: 50px;
}

.hero-image img {
	width: 100%;
}