/* Slider theming */

.slider-image-container {
	overflow: hidden;
	margin-top: 50px;
}

.slider-image-list {
	overflow: auto;
}

.slider-image {
	display: table-cell;
	padding-left: 5px;
	padding-right: 5px;
	min-width: 235px;
}

@media (min-width: 768px) {
	.slider-image {
		min-width: 400px;
	}
}

